.select__field__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select__field__wrapper > * {
  flex: 1;
}

.select {
  background-color: #f0f7ff;
  width: 100%;
  border: 1px solid #ededed;
  padding: 1rem 1rem;
}
