@import "./styles/index.css";

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

main > * {
  flex: 1;
}

.json__editor {
  height: 100vh;
  overflow: scroll;
}

.form__view {
  background: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 2rem 0;
}

.rendered__form {
  max-width: 60rem;
  width: 100%;
  background-color: #ffffff;
  color: #000;
  height: 100%;
  overflow: scroll;
  padding: 2rem 3rem;
  border-radius: 0.5rem;
}

.rendered__form::-webkit-scrollbar {
  display: none;
}

.form__action__container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.form__action__container .form__help__btn {
  background: #316fea;
}

.form__buttons {
  display: flex;
  gap: 1rem;
}
